<p>typography works!</p>
<!-- typography -->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is display 4</div>
<div class="mat-title">This is display 3</div>
<div class="mat-subheading-1">This is display 2</div>
<div class="mat-subheading-1">This is display 1</div>

<div class="mat-body-1">This is the body text</div>
<div class="mat-body-2">This is the body text</div>
<div class="mat-caption">This is the body text</div>

<div class="mat-typography">
  <h1>h1 text</h1>
  <h2>h2 text</h2>
  <h3>h3 text</h3>
  <h4>h4 text</h4>
</div>
