<div>
  <p>icon-test works!</p>
  <mat-icon>grade</mat-icon>
  <mat-icon>android</mat-icon>
  <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon><br />
  <div><span matBadge="5">Notifications</span></div>
  <div>
    <span matBadge="5" matBadgePosition="above after">Notifications</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
  </div>
  <div>
    <span matBadge="3" matBadgePosition="below after" matBadgeColor="accent"
      >Notifications</span
    >
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
  </div>
  <div><span matBadge="5" matBadgePosition="before">Notifications</span></div>
  <div><span matBadge="5" matBadgePosition="after">Notifications</span></div>
  <div><span matBadge="5" matBadgePosition="above">Notifications</span></div>
  <div><span matBadge="5" matBadgePosition="below">Notifications</span></div>
</div>
